
.*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Balsamiq Sans', cursive !important;
}

h1 {
  padding-top: 20px;
  text-align: center;
  font-weight: 700 !important;
}

h4 {
  padding: 8px !important;
  text-align: center;
  font-weight: 600 !important;
}
p {
  font-size: 1em;
}


.sec {
  background-color: #C0C0C0;
  margin: 10px;
}

.nav-bar {
  background color: gray;
}

.nav-item{
  padding: 0 15px;
}
.nav-link:hover {
    background-color: #8d93ab;
    width: 100%;
}